.friends-list {
  color: black;
  background-color: aliceblue;
}

.usernames-scrollable {
  max-height: 20rem;
  overflow-y: auto;
  max-width: 10000px;
  overflow-x: auto;
}

.col-size {
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
}

.friends-title {
  display: flex;
  justify-content: flex-end;
  padding-right: 12rem;
}


.last-loc{
  background-color: rgb(30, 155, 155);
  border-radius: 8px;
}



@media (max-width: 700px){
  #btn-unf {
margin-left: 5rem;
 
}
}