
.map-container{
height: 500px;
 width: 500px;
 
}



#maps {
  background-color: azure;
}

.container-2{

  border-color: aliceblue;
  border-width: thin;
}

.col-2{

  padding: 0rem;
}


@media (min-width: 992px) {
  .map-container {
 margin-left: 370px;
 height: 800px;
 width: 800px;
 border-color: aliceblue;
}
}

@media (min-width: 1280px){
  .map-container {
  margin-left: 200px;
  height: 800px;
  width: 800px;
  border-color: aliceblue;
 }
}



 