.title {

  color: aliceblue;
 
}

.title:hover{

  color: rgb(168, 192, 224);
}

.navbar-toggler{
  color: aliceblue;
  background-color: aliceblue;
  border: solid;
}

#basic-nav-dropdown{
  color: aliceblue;
}


