.card-body {
  background-color: aliceblue;
}

#btn-2 {
  cursor: default;
}

#followers-1 {
  cursor: pointer;
}

#followers-1:hover {
  background-color: rgb(216, 236, 253);
  border-radius: 2px;
}
